body {
    box-sizing: border-box;
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
    order: 1;
    box-shadow: 5px 5px 4px #207bff ;
}

.card {
    display: flex;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #4ea5ff;
    color: #f5f7fa;
    border: 6px solid #207bff;
    border-radius: 10px;
    transition: 1.5s;
    
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.card:hover{
    background: transparent;
    border: 6px solid #003f91;
    
  
}

.card-text{
    margin: 10px 0 0 0;
    
   
}

.secret-shuttle{
     width: 450px;
     border-radius: 10px;
     background-image: url(https://media.istockphoto.com/photos/space-shuttle-in-the-rays-of-sun-picture-id1131418344?k=20&m=1131418344&s=612x612&w=0&h=yPyqDj2LYNbPNr8e69PQGm3LZZVTUWU0tjHzDsDl7YU=);
     background-size: cover; 
}
/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

